POSTGRES_USER=voxter
POSTGRES_PASSWORD=voxter
POSTGRES_DB=voxter
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
CORS_ORIGIN=*
STORAGE_DRIVER=local
MINIO_ROOT_USER=voxter
MINIO_ROOT_PASSWORD=voxtersecret
MINIO_BUCKET=voxter
LIVEKIT_WS_URL=ws://localhost:7880
LIVEKIT_REST_URL=http://livekit:7880
LIVEKIT_API_KEY=voxter_dev_key
LIVEKIT_API_SECRET=voxter_dev_secret_please_change_123456
LIVEKIT_ROOM_PREFIX=voxter
